* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

h1 {
  font-family: "Georgia", serif;
}

main {
  width: 100%;
}

.container {
  background-color: #272b27;
  display: block;
  margin: 0 auto;
  min-width: 300px;
  width: 20%;
  padding: 20px;
}

.display {
  background-color: #999e99;
  margin-bottom: 20px;
  color: white;
  padding: 30px;
  max-height: 30px;
}

.button-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.button-container button {
  border-radius: 10px;
}

.button-container button:hover {
  background-color: #8deba6;
}

#debug {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  gap: 60px;
}
